<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byName">

	<bean id="autowireModeA" class="com.springstudy.Initializethebean.autowireMode.AutowireModeA"/>
	<bean id="autowireModeB" class="com.springstudy.Initializethebean.autowireMode.AutowireModeB"/>

	<!-- 单独使用装配方式 -->
	<bean id="autowireModeC" class="com.springstudy.Initializethebean.autowireMode.AutowireModeC" autowire="byType"/>

</beans>